.further-info {
  @include body(14, 24);
  border-left: 5px solid $further-info-border-color;
  padding-left: $baseline-unit*2;
  margin-bottom: $baseline-unit*6;
}

.further-info__trigger {
  font-size: 75%;
  white-space: nowrap;
}
