---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm.id%22%5D\u0026distinct=true\u0026page=0\u0026hitsPerPage=999\u0026query=Test+Firm"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"firm":{"id":6},"objectID":"133609472","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> Remote 3","matchLevel":"full","fullyHighlighted":false,"matchedWords":["test","firm"]}}}},{"firm":{"id":5},"objectID":"133609462","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> Remote 2","matchLevel":"full","fullyHighlighted":false,"matchedWords":["test","firm"]}}}},{"firm":{"id":4},"objectID":"133609452","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> Remote 1","matchLevel":"full","fullyHighlighted":false,"matchedWords":["test","firm"]}}}},{"firm":{"id":3},"objectID":"133609442","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> Brighton","matchLevel":"full","fullyHighlighted":false,"matchedWords":["test","firm"]}}}},{"firm":{"id":2},"objectID":"133609432","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> East London","matchLevel":"full","fullyHighlighted":false,"matchedWords":["test","firm"]}}}},{"firm":{"id":1},"objectID":"133609412","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> Central London","matchLevel":"full","fullyHighlighted":false,"matchedWords":["test","firm"]}}}}],"nbHits":6,"page":0,"nbPages":1,"hitsPerPage":999,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Test
        Firm","params":"attributesToRetrieve=%5B%22firm.id%22%5D&distinct=true&page=0&hitsPerPage=999&query=Test+Firm"}

'
  recorded_at: Wed, 13 Mar 2019 15:13:30 GMT
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm%22%5D\u0026distinct=true\u0026page=0\u0026hitsPerPage=10\u0026facetFilters=%5B%5B%22firm.id%3A4%22%2C%22firm.id%3A2%22%2C%22firm.id%3A6%22%2C%22firm.id%3A3%22%2C%22firm.id%3A1%22%2C%22firm.id%3A5%22%5D%5D\u0026query=Test+Firm"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"firm":{"id":6,"registered_name":"Test Firm Remote 3","postcode_searchable":false,"telephone_number":null,"website_address":null,"email_address":null,"free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products":true,"pension_transfer":true,"options_when_paying_for_care":true,"equity_release":true,"inheritance_tax_planning":true,"wills_and_probate":true,"other_advice_methods":[1],"investment_sizes":[1],"in_person_advice_methods":[],"adviser_qualification_ids":[],"adviser_accreditation_ids":[],"ethical_investing_flag":false,"sharia_investing_flag":false,"workplace_financial_advice_flag":false,"non_uk_residents_flag":false,"languages":[],"total_offices":0,"total_advisers":1},"objectID":"133609472","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> Remote 3","matchLevel":"full","fullyHighlighted":false,"matchedWords":["test","firm"]}}}},{"firm":{"id":5,"registered_name":"Test
        Firm Remote 2","postcode_searchable":false,"telephone_number":null,"website_address":null,"email_address":null,"free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products":true,"pension_transfer":true,"options_when_paying_for_[...]
[...]
