---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-offices-test/query
    body:
      encoding: UTF-8
      string: '{"params":"aroundLatLng=%5B55.378051%2C-3.435973%5D\u0026facetFilters=%5B%22firm_id%3A1%22%5D\u0026getRankingInfo=true\u0026page=0\u0026hitsPerPage=1000\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"_geoloc":{"lat":51.51807,"lng":-0.10852},"firm_id":1,"address_line_one":"49759
        Wyman Parkways","address_line_two":"Suite 863","address_town":"Devanhaven","address_county":"Illinois","address_postcode":"EC1N
        2TD","email_address":"office789@example.org","telephone_number":"07111 333
        789","disabled_access":false,"website":"http://example.net/offices/789","objectID":"2","_highlightResult":{"_geoloc":{"lat":{"value":"51.51807","matchLevel":"none","matchedWords":[]},"lng":{"value":"-0.10852","matchLevel":"none","matchedWords":[]}},"firm_id":{"value":"1","matchLevel":"none","matchedWords":[]},"address_line_one":{"value":"49759
        Wyman Parkways","matchLevel":"none","matchedWords":[]},"address_line_two":{"value":"Suite
        863","matchLevel":"none","matchedWords":[]},"address_town":{"value":"Devanhaven","matchLevel":"none","matchedWords":[]},"address_county":{"value":"Illinois","matchLevel":"none","matchedWords":[]},"address_postcode":{"value":"EC1N
        2TD","matchLevel":"none","matchedWords":[]},"email_address":{"value":"office789@example.org","matchLevel":"none","matchedWords":[]},"telephone_number":{"value":"07111
        333 789","matchLevel":"none","matchedWords":[]},"website":{"value":"http://example.net/offices/789","matchLevel":"none","matchedWords":[]}},"_rankingInfo":{"nbTypos":0,"firstMatchedWord":0,"proximityDistance":0,"userScore":1,"geoDistance":482477,"geoPrecision":1,"nbExactWords":0,"words":0,"filters":1,"matchedGeoLocation":{"lat":51.518,"lng":-0.1086,"distance":482477}}},{"_geoloc":{"lat":51.51193,"lng":-0.095115},"firm_id":1,"address_line_one":"493
        Tremblay Pass","address_line_two":"Apt. 746","address_town":"Kaseyview","address_county":"Alaska","address_postcode":"EC4V
        4AY","email_address":"office135@example.org","telephone_number":"07111 333
        135","disabled_access":true,"website":"http://example.net/offices/135","objectID":"1","_highlightResult":{"_geoloc":{"lat":{"value":"51.51193","matchLevel":"none","matchedWords":[]},"lng":[...]
