<section class="education">
  <%= heading_tag(level: 3, class: 'education__heading') do %>
    <span class="education__icon"></span><%= t("#{key}.heading") %>
  <% end %>

  <div class="education__content">
    <% t("#{key}.content").each do |item| %>
      <p><%= item[:text] %></p>
    <% end %>
  </div>
</section>
