<section class="education" data-education-module>
  <%= heading_tag(level: 3, class: 'education__heading', data: { education_module_heading: '' }) do %>
    <span class="education__heading-text"><%= t("#{key}.heading") %>
  <% end %>

  <div class="education__content is-hidden" data-education-module-target>
    <% t("#{key}.content").each do |item| %>
      <p><%= item[:text] %></p>
    <% end %>
  </div>
</section>
