<div class="result__2col">
  <%= heading_tag(t("search.result.#{key}.heading"), level: 3, class: 'result__sub-heading') %>

  <ul class="result__list">
    <% if key == :recieve_advice %>
      <% firm.in_person_advice_methods.each do |id| %>
        <li class="result__list-item t-in-person-advice-method"><%= InPersonAdviceMethod.friendly_name(id) %></li>
      <% end %>

      <% firm.other_advice_methods.each do |id| %>
        <li class="result__list-item t-other-advice-method"><%= OtherAdviceMethod.friendly_name(id) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
