<div class="l-constrained">
  <div class="l-results">
    <%= heading_tag( t('search.page_title'), level: 1, class: 'l-results__heading') %>

    <%= render partial: 'search/partials/search_filter' %>

    <%= render partial: 'search/partials/results' %>

    <%= render partial: 'search/partials/footer_links' %>
  </div>
</div>
