.address {
  margin: $baseline-unit*2 0;
}

.address__line {
  display: block;
}

.address__link {
  display: block;
  line-height: 2;

  &:hover {
    text-decoration: none;
  }

  span:hover {
    text-decoration: underline;
  }
}
