.keyword {
  // float: left;
  margin-top: $baseline-unit*2;
  margin-bottom: $baseline-unit*2;
  margin-right: $baseline-unit*2;

  &:last-of-type {
    margin-right: 0;
  }
}

.keyword__text {
  display: inline-block;
  padding: $baseline-unit $baseline-unit*2 $baseline-unit*1.5 $baseline-unit*2;
  background: $background-color;
}
