@import "./moneyhelper_variables";

// -- RAD specific styles -------------------------------------------------

// -- Headings / Paragraph / Info --------------------------------------

.l-landing-page__search-filter__header {
  font-family: "Roobert-Regular", sans-serif;
  color: $text_secondary;
}

h2.l-landing-page__heading {
  color: $text_secondary;
}

h2.firm__name {
  color: $blue_primary;
}

h3.advert__header {
  color: $text_secondary;
  @media (max-width: $mobile_width) {
    color: $text_secondary;
  }
}
.callout .callout__heading {
  color: $blue_primary;
}

h5.advice-method__heading {
  color: $blue_primary;
  svg {
    fill: $blue_primary;
  }
}

h2.search-filter__heading {
  @media (max-width: $mobile_width) {
    color: $search-filter-heading-color;
  }
}
// ----------------------------------------------------

// -- Icons -------------------------------------------

.js .icon--further-info {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  line-height: 24px;
  padding: 0 0 0 9px;
  width: 25px;
  height: 25px;
  color: $teal_secondary;
  background-color: $light_grey_2;
  border: 1px solid $teal_secondary;
  border-radius: 50%;
  &:focus {
    background-color: $yellow_secondary;
    border-color: $support_focus;
    color: $support_focus;
    outline: none;
  }
  @media print {
    display: none;
  }
}

.pagination__icon {
  display: none;
}

// ----------------------------------------------------

// -- List Items --------------------------------------

.list-benefits li,
.l-landing-page__3col {
  font-family: "Roobert-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $text_secondary;
}

.validation-summary__error {
  a {
    font-family: "Roobert-Regular", sans-serif;
  }
}

// ----------------------------------------------------

// -- Hyperlinks --------------------------------------

.l-landing-page__register-link,
.advice-reasons__explaination,
.video__description,
.l-landing-page__other-information,
.recently-viewed__item {
  a {
    font-family: "Roobert-Regular", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: $magenta_dark;
    }
    &:visited {
      color: $link_visited;
    }
  }
}

.result__firm-name a {
  color: $blue_primary !important;
  &:hover {
    text-decoration: none;
    color: $magenta_dark;
  }
  &:visited {
    color: $link_visited;
  }
}

.is-hidden-on-mobile a {
  font-family: "Roobert-Regular", sans-serif;
  color: $magenta_primary;
}

// ----------------------------------------------------

// -- Background / Borders / Panels -------------------

.l-landing-page__search-filter,
.advert,
.l-landing-page__advice-reasons,
.search-filter__heading,
.l-results__summary,
.firm__header {
  background-color: $light_grey_2;
}

.further-info__content {
  border-left: 5px solid $teal_secondary;
}
.callout {
  background: $light_grayish_magenta;
}

.validation-summary {
  .validation-summary__content-container,
  .validation-summary__error--no-link {
    background-color: $red_error_background;
    .validation-summary__title {
      color: $red_error;
      font-weight: bold;
    }
    //padding: 1px 10px;
    border-left: 4px solid $red_error;
    color: $red_error;
  }
}

.is-errored {
  border-left: 4px solid $red_error;
}

// ----------------------------------------------------

// -- Button / Tabs -----------------------------------

.search-filter__button,
.l-results__filter-button {
  width: 200px;
  .pagination__icon {
    display: none;
  }
}

h2 a.outline-button {
  font-family: "Roobert-SemiBold", sans-serif;
}

.outline-button,
.l-results__pagination span a {
  font-size: 16px;
  border: 1px solid $magenta_primary;
  border-radius: $border_radius;
  box-shadow: 0px 2px 0px rgba(0, 11, 59, 0.25);
  padding: 8px 16px;
  @extend .button--secondary;

  &:hover {
    background: $light_grey_2;
    border: 1px solid $magenta_dark;
  }
  &:focus {
    background-color: $yellow_secondary;
    border: 2px solid $support_focus;
    color: $text_secondary;
  }
  &:active {
    //font-weight: 600;
    color: $text_secondary;
    border: 2px solid $support_focus;
    box-shadow: 0px 2px 0px $white, inset 0px 5px 2px rgba(0, 11, 59, 0.25);
  }
}

.outline-button,
.office__telephone,
.contact-link {
  color: $magenta_primary !important;
  svg {
    fill: $magenta_primary;
  }
}

.tab-selector__triggers-outer {
  border-bottom: 1px solid #d7d7d7;
}
.tab-selector__trigger {
  font-weight: 400;

  &.is-inactive {
    height: 42px;
    top: 0;
    color: $teal_secondary;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
      background: $light_grayish_magenta;
      text-decoration: underline;
    }
    &:focus {
      background: $yellow_secondary;
    }

    @media (max-width: $mobile_width) {
      border: 0;
    }
  }
}
.tab-selector__trigger-container.is-active .tab-selector__trigger.is-active {
  height: 42px;
  left: 0;
  right: 0;
  top: 1px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 4px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: $teal_secondary;
  &:hover {
    background: $white;
  }
  &:active {
    background: $light_grayish_magenta;
  }
  &:focus {
    background: $yellow_secondary;
    border-bottom: 3px solid #8200d1;
  }
  @media (max-width: $mobile_width) {
    border: 1px solid #9da1ca;
    background: $white;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// ----------------------------------------------------

// -- Input Items / Labels ----------------------------

// label{
//     font-family: inherit;
//     font-weight: normal;
// }

// ----------------------------------------------------

// -- Images / Logos  ---------------------------------

.advert__img {
  @include respond-to($mq-m) {
    margin-top: $baseline-unit;
  }
}

// ----------------------------------------------------
