.search {
  background: $search-background-color;
  border-radius: $search-radius;
  border: 1px solid $search-border-color;
}

.search__component {
  margin: $baseline-unit*4 $baseline-unit*4 0 $baseline-unit*4;
}

.search__heading {
  @include body(16, 18);
  margin-top: 0;
  border-top-left-radius: $search-radius;
  border-top-right-radius: $search-radius;
  background-color: #4E4F4F;
  padding: $baseline-unit*4;
  font-weight: 500;
}

.search__heading--alt {
  border-radius: 0;
}

.search__heading-link:link,
.search__heading-link:visited {
  color: $color-white;
}

.search__label {
  font-weight: 700;
}

.search__field[type="text"] {
  width: 100%;
  max-width: 300px;
  height: $baseline-unit*8;
  border-radius: 5px;
  border: 1px solid $color-grey-normal;
  margin-right: $baseline-unit*2;
}
