---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=G1%205QT,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "G1 5QT",
                       "short_name" : "G1 5QT",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Glasgow",
                       "short_name" : "Glasgow",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Glasgow",
                       "short_name" : "Glasgow",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Glasgow City",
                       "short_name" : "Glasgow City",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Glasgow, Glasgow, Glasgow City G1 5QT, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 55.8562428,
                          "lng" : -4.2467325
                       },
                       "southwest" : {
                          "lat" : 55.8557036,
                          "lng" : -4.247226599999999
                       }
                    },
                    "location" : {
                       "lat" : 55.8561912,
                       "lng" : -4.247082199999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 55.8573221802915,
                          "lng" : -4.245630569708498
                       },
                       "southwest" : {
                          "lat" : 55.8546242197085,
                          "lng" : -4.248328530291502
                       }
                    }
                 },
                 "place_id" : "ChIJKf4uM6JGiEgRdIgdirxKBwM",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 21 May 2015 10:12:40 GMT
recorded_with: VCR 2.9.3
