---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=EC1N%207SS,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EC1N 7SS",
                       "short_name" : "EC1N 7SS",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Leather Lane",
                       "short_name" : "Leather Ln",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Leather Ln, London EC1N 7SS, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5191588,
                          "lng" : -0.1083228
                       },
                       "southwest" : {
                          "lat" : 51.51883609999999,
                          "lng" : -0.1101883
                       }
                    },
                    "location" : {
                       "lat" : 51.518938,
                       "lng" : -0.1088302
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5203464302915,
                          "lng" : -0.107906569708498
                       },
                       "southwest" : {
                          "lat" : 51.5176484697085,
                          "lng" : -0.110604530291502
                       }
                    }
                 },
                 "place_id" : "ChIJCxiBSkwbdkgR1X4vcWyDCDs",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 10 Mar 2016 15:48:34 GMT
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
