---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=EC4A%202AH,%20United%20Kingdom&key=<GOOGLE_GEOCODER_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EC4A 2AH",
                       "short_name" : "EC4A 2AH",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Fleet Street",
                       "short_name" : "Fleet St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Holborn",
                       "short_name" : "Holborn",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Fleet St, Holborn, London EC4A 2AH, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5141193,
                          "lng" : -0.111087
                       },
                       "southwest" : {
                          "lat" : 51.5138213,
                          "lng" : -0.1116846
                       }
                    },
                    "location" : {
                       "lat" : 51.5139284,
                       "lng" : -0.1113308
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.51531928029149,
                          "lng" : -0.110036819708498
                       },
                       "southwest" : {
                          "lat" : 51.51262131970849,
                          "lng" : -0.112734780291502
                       }
                    }
                 },
                 "place_id" : "ChIJxwm7XrMEdkgRRsHhHI1JUag",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 04 Nov 2019 13:16:44 GMT
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"aroundLatLng=%5B51.5139284%2C-0.1113308%5D\u0026distinct=false\u0026facetFilters=%5B%22firm.id%3A1%22%5D\u0026getRankingInfo=true\u0026page=0\u0026hitsPerPage=1000\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      X-Alg-Dq:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"_geoloc":{"lat":51.51807,"lng":-0.10852},"name":"Addison
        Klocko","postcode":"EC1N 2TD","travel_distance":100,"qualification_ids":[],"accreditation_ids":[],"firm":{"id":1,"registered_name":"Test
        Firm Central London","postcode_searchable":true,"website_address":"http://example.net/test-firm-central-london","telephone_number":"07111
        333 135","email_address":"office135@example.org","free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products_flag":true,"pension_transfer_flag":false,"long_term_care_flag":false,"equity_release_flag":true,"inheritance_tax_and_estate_planning_flag":false,"wills_and_probate_flag":false,"other_advice_methods":[],"investment_sizes":[1],"in_person_advice_methods":[2],"adviser_qualification_ids":[3,4],"adviser_accreditation_ids":[1,2],"ethical_investing_flag":false,"sharia_investing_flag":false,"workplace_financial_advice_flag":true,"non_uk_residents_flag":false,"languages":["ita"],"total_offices":2,"total_advisers":2},"objectID":"2","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Central London","matchLevel":"none","matchedWords":[]}}},"_rankingInfo":{"nbTypos":0,"firstMatchedWord":0,"proximityDistance":0,"userScore":1,"geoDistance":490,"geoPrecision":1,"nbExactWords":0,"words":0,"filters":1,"matchedGeoLocation":{"lat":51.518,"lng":-0.1086,"distance":490}}},{"_geoloc":{"lat":51.51193,"lng":-0.095115},"name":"Caitlyn
        Kohler","postcode":"EC4V 4AY","travel_distance":100,"qualification_ids":[3,4],"accreditation_ids":[1,2],"firm":{"id":1,"registered_name":"Test
        Firm Central London","postcode_searchable":true,"website_address":"http://example.net/test-firm-central-london","telephone_number":"07111
        333 135","email_address":"office135@example.org","free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products_flag":true,"pension_transfer_flag":false,"long_term_care_flag":false,"equity_release_flag":true,"inheritance_tax_and_estate_planning_flag":false,"wills_and_probate_flag":false,"other_advice_methods":[],"investment_sizes":[1],"in_person_advice_methods":[2],"adviser_qualification_ids":[3,4],"adviser_accreditation_ids":[1,2],"ethical_investing_flag":false,"sharia_investing_flag":false,"workplace_financial_advice_flag":true,"non_uk_residents_flag":false,"languages":["ita"],"total_offices":2,"total_advisers":2},"objectID":"1","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Central London","matchLevel":"none","matchedWords":[]}}},"_rankingInfo":{"nbTypos":0,"firstMatchedWord":0,"proximityDistance":0,"userScore":0,"geoDistance":1139,"geoPrecision":1,"nbExactWords":0,"words":0,"filters":1,"matchedGeoLocation":{"lat":51.5119,"lng":-0.0952,"distance":1139}}}],"nbHits":2,"page":0,"nbPages":1,"hitsPerPage":1000,"exhaustiveNbHits":true,"query":"","params":"aroundLatLng=%5B51.5139284%2C-0.1113308%5D&distinct=false&facetFilters=%5B%22firm.id%3A1%22%5D&getRankingInfo=true&page=0&hitsPerPage=1000&query=","automaticRadius":"15740070","serverUsed":"c11-eu-3.algolia.net","indexUsed":"firm-advisers-test","parsedQuery":"","timeoutCounts":false,"timeoutHits":false,"processingTimeMS":1}'
  recorded_at: Mon, 04 Nov 2019 13:16:44 GMT
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-offices-test/query
    body:
      encoding: UTF-8
      string: '{"params":"aroundLatLng=%5B51.5139284%2C-0.1113308%5D\u0026facetFilters=%5B%22firm_id%3A1%22%5D\u0026getRankingInfo=true\u0026page=0\u0026hitsPerPage=1000\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      X-Alg-Dq:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"_geoloc":{"lat":51.51807,"lng":-0.10852},"firm_id":1,"address_line_one":"49759
        Wyman Parkways","address_line_two":"Suite 863","address_town":"Devanhaven","address_county":"Illinois","address_postcode":"EC1N
        2TD","email_address":"office789@example.org","telephone_number":"07111 333
        789","disabled_access":false,"website":"http://example.net/offices/789","objectID":"2","_highlightResult":{"_geoloc":{"lat":{"value":"51.51807","matchLevel":"none","matchedWords":[]},"lng":{"value":"-0.10852","matchLevel":"none","matchedWords":[]}},"firm_id":{"value":"1","matchLevel":"none","matchedWords":[]},"address_line_one":{"value":"49759
        Wyman Parkways","matchLevel":"none","matchedWords":[]},"address_line_two":{"value":"Suite
        863","matchLevel":"none","matchedWords":[]},"address_town":{"value":"Devanhaven","match[...]
