---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=RG2%201AA,%20United%20Kingdom&key=<GOOGLE_GEOCODER_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "RG2",
                       "short_name" : "RG2",
                       "types" : [ "postal_code", "postal_code_prefix" ]
                    },
                    {
                       "long_name" : "Reading",
                       "short_name" : "Reading",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Reading RG2, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.4483857,
                          "lng" : -0.8797254999999999
                       },
                       "southwest" : {
                          "lat" : 51.3775133,
                          "lng" : -1.0000148
                       }
                    },
                    "location" : {
                       "lat" : 51.4115607,
                       "lng" : -0.9262349
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.4483857,
                          "lng" : -0.8797254999999999
                       },
                       "southwest" : {
                          "lat" : 51.3775133,
                          "lng" : -1.0000148
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJJ-zUf1OCdkgRhlweI7vWAN0",
                 "types" : [ "postal_code", "postal_code_prefix" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 18 Mar 2019 10:51:34 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=RG11GG,%20United%20Kingdom&key=<GOOGLE_GEOCODER_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "addres[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=RG21AA,%20United%20Kingdom&key=<GOOGLE_GEOCODER_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "addres[...]
