---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=EH3%209DR,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EH3 9DR",
                       "short_name" : "EH3 9DR",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Edinburgh",
                       "short_name" : "Edinburgh",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Edinburgh, Edinburgh, Edinburgh EH3 9DR, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 55.9473792,
                          "lng" : -3.201227
                       },
                       "southwest" : {
                          "lat" : 55.9466098,
                          "lng" : -3.202296
                       }
                    },
                    "location" : {
                       "lat" : 55.9469408,
                       "lng" : -3.2017516
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 55.9483434802915,
                          "lng" : -3.200412519708498
                       },
                       "southwest" : {
                          "lat" : 55.9456455197085,
                          "lng" : -3.203110480291502
                       }
                    }
                 },
                 "place_id" : "ChIJdUOMBpnHh0gRL_2RZSTUab4",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 08 Oct 2015 15:42:15 GMT
recorded_with: VCR 2.9.3
