---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=RG21AA,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "RG2",
                       "short_name" : "RG2",
                       "types" : [ "postal_code_prefix", "postal_code" ]
                    },
                    {
                       "long_name" : "Reading",
                       "short_name" : "Reading",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Reading RG2, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.461134,
                          "lng" : -0.8853983
                       },
                       "southwest" : {
                          "lat" : 51.3750736,
                          "lng" : -0.9988589999999999
                       }
                    },
                    "location" : {
                       "lat" : 51.4114662,
                       "lng" : -0.9381453
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.4482537,
                          "lng" : -0.8853983
                       },
                       "southwest" : {
                          "lat" : 51.3750736,
                          "lng" : -0.9988589999999999
                       }
                    }
                 },
                 "place_id" : "ChIJJ-zUf1OCdkgRhlweI7vWAN0",
                 "types" : [ "postal_code_prefix", "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 19 Feb 2015 21:23:40 GMT
recorded_with: VCR 2.9.3
