---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=RG29FL,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.08
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "RG2 9FL",
                       "short_name" : "RG2 9FL",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Shinfield",
                       "short_name" : "Shinfield",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Reading",
                       "short_name" : "Reading",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Wokingham",
                       "short_name" : "Wokingham",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Shinfield, Reading, Wokingham RG2 9FL, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.4190003,
                          "lng" : -0.9502767
                       },
                       "southwest" : {
                          "lat" : 51.4179808,
                          "lng" : -0.9521336
                       }
                    },
                    "location" : {
                       "lat" : 51.41822819999999,
                       "lng" : -0.9512305000000001
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.4198395302915,
                          "lng" : -0.949856169708498
                       },
                       "southwest" : {
                          "lat" : 51.41714156970851,
                          "lng" : -0.952554130291502
                       }
                    }
                 },
                 "place_id" : "ChIJ4_UU462cdkgRDA1RtCdMqYc",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 25 Feb 2015 18:02:04 GMT
- request:
    method: post
    uri: http://127.0.0.1:9200/rad_test/firms/_search
    body:
      encoding: UTF-8
      string: '{"errors":{},"postcode":"RG2 9FL","checkbox":"0","validation_context":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: !ruby/marshalable:HTTP::Response::Status
        :__v2__:
        - :@code
        ? - 400
        : 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":"SearchPhaseExecutionException[Failed to execute phase [query],
        all shards failed; shardFailures {[g9G_vhGzTyKeseITyf1ZKg][rad_test][0]: SearchParseException[[rad_test][0]:
        from[-1],size[-1]: Parse Failure [Failed to parse source [{\"errors\":{},\"postcode\":\"RG2
        9FL\",\"checkbox\":\"0\",\"validation_context\":null}]]]; nested: SearchParseException[[rad_test][0]:
        from[-1],size[-1]: Parse Failure [No parser for element [errors]]]; }{[g9G_vhGzTyKeseITyf1ZKg][rad_test][1]:
        SearchParseException[[rad_test][1]: from[-1],size[-1]: Parse Failure [Failed
        to parse source [{\"errors\":{},\"postcode\":\"RG2 9FL\",\"checkbox\":\"0\",\"validation_context\":null}]]];
        nested: SearchParseException[[rad_test][1]: from[-1],size[-1]: Parse Failure
        [No parser for element [errors]]]; }{[g9G_vhGzTyKeseITyf1ZKg][rad_test][2]:
        SearchParseException[[rad_test][2]: from[-1],size[-1]: Parse Failure [Failed
        to parse source [{\"errors\":{},\"postcode\":\"RG2 9FL\",\"checkbox\":\"0\",\"validation_context\":null}]]];
        nested: SearchParseException[[rad_test][2]: from[-1],size[-1]: Parse Failure
        [No parser for element [errors]]]; }{[g9G_vhGzTyKeseITyf1ZKg][rad_test][3]:
        SearchParseException[[rad_test][3]: from[-1],size[-1]: Parse Failure [Failed
        to parse source [{\"errors\":{},\"postcode\":\"RG2 9FL\",\"checkbox\":\"0\",\"validation_context\":null}]]];
        nested: SearchParseException[[rad_test][3]: from[-1],size[-1]: Parse Failure
        [No parser for element [errors]]]; }{[g9G_vhGzTyKeseITyf1ZKg][rad_test][4]:
        SearchParseException[[rad_test][4]: from[-1],size[-1]: Parse Failure [Failed
        to parse source [{\"errors\":{},\"postcode\":\"RG2 9FL\",\"checkbox\":\"0\",\"validation_context\":null}]]];
        nested: SearchParseException[[rad_test][4]: from[-1],size[-1]: Parse Failure
        [No parser for element [errors]]]; }]","status":400}'
  recorded_at: Wed, 25 Feb 2015 18:02:04 GMT
recorded_with: VCR 2.9.3
