---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=,%20United%20Kingdom&key=<GOOGLE_GEOCODER_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "United Kingdom",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 60.91569999999999,
                          "lng" : 33.9165549
                       },
                       "southwest" : {
                          "lat" : 34.5614,
                          "lng" : -8.8988999
                       }
                    },
                    "location" : {
                       "lat" : 55.378051,
                       "lng" : -3.435973
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 61.5471111,
                          "lng" : 9.584415699999999
                       },
                       "southwest" : {
                          "lat" : 47.5554486,
                          "lng" : -18.5319589
                       }
                    }
                 },
                 "place_id" : "ChIJqZHHQhE7WgIReiWIMkOg-MQ",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 14 Mar 2019 03:59:17 GMT
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm.id%22%5D\u0026distinct=true\u0026facetFilters=%5B%5B%22firm.other_advice_methods%3A1%22%2C%22firm.other_advice_methods%3A2%22%5D%2C%22firm.in_person_advice_methods%3A-1%22%2C%22firm.in_person_advice_methods%3A-2%22%2C%22firm.in_person_advice_methods%3A-3%22%5D\u0026page=0\u0026hitsPerPage=1000\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"firm":{"id":6},"objectID":"133609472","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Remote 3","matchLevel":"none","matchedWords":[]}}}},{"firm":{"id":5},"objectID":"133609462","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Remote 2","matchLevel":"none","matchedWords":[]}}}},{"firm":{"id":4},"objectID":"133609452","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Remote 1","matchLevel":"none","matchedWords":[]}}}}],"nbHits":3,"page":0,"nbPages":1,"hitsPerPage":1000,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"","params":"attributesToRetrieve=%5B%22firm.id%22%5D&distinct=true&facetFilters=%5B%5B%22firm.other_advice_methods%3A1%22%2C%22firm.other_advice_methods%3A2%22%5D%2C%22firm.in_person_advice_methods%3A-1%22%2C%22firm.in_person_advice_methods%3A-2%22%2C%22firm.in_person_advice_methods%3A-3%22%5D&page=0&hitsPerPage=1000&query="}

'
  recorded_at: Thu, 14 Mar 2019 03:59:17 GMT
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm%22%5D\u0026distinct=true\u0026facetFilters=%5B%5B%22firm.other_advice_methods%3A1%22%2C%22firm.other_advice_methods%3A2%22%5D%2C%22firm.in_person_advice_methods%3A-1%22%2C%22firm.in_person_advice_methods%3A-2%22%2C%22firm.in_person_advice_methods%3A-3%22%2C%5B%22firm.id%3A5%22%2C%22firm.id%3A6%22%2C%22firm.id%3A4%22%5D%5D\u0026page=0\u0026hitsPerPage=10\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"firm":{"id":6,"registered_name":"Test Firm Remote 3","postcode_searchable":false,"telephone_number":null,"website_address":null,"email_address":null,"free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products":true,"pension_transfer":true,"options_when_paying_for_care":true,"equity_release":true,"inheritance_tax_planning":true,"wills_and_probate":true,"other_advice_methods":[1],"investment_sizes":[1],"in_person_advice_methods":[],"adviser_qualification_ids":[],"adviser_accreditation_ids":[],"ethical_investing_flag":false,"sharia_investing_flag":false,"workplace_financial_advice_flag":false,"non_uk_residents_flag":false,"languages":[],"total_offices":0,"total_advisers":1},"objectID":"133609472","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Remote 3","matchLevel":"none","matchedWords":[]}}}},{"firm":{"id":5,"registered_name":"Test
        Firm Remote 2","postcode_searchable":false,"telephone_number":null,"website_address":null,"email_address":null,"free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products":true,"pension_transfer":true,"options_when_paying_for_care":true,"equity_release":true,"inheritance_tax_planni[...]
- request:
    method: post
    uri: https://fc0uq0wje5-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm.id%22%5D\u0026distinct=true\u0026facetFilters=%5B%5B%22firm.other_advice_methods%3A1%22%2C%22firm.other_advice_methods%3A2%22%5D%2C%22firm.in_person_advice_methods%3A-1%22%2C%22firm.in_person_advice_methods%3A-2%22%2C%22firm.in_person_advice_methods%3A-3%22%5D\u0026page=0\u0026hitsPerPage=1000\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"message":"Index firm-advisers-test does not exist","status":404}

'
  recorded_at: Mon, 18 Mar 2019 17:57:58 GMT
recorded_with: VCR 4.0.0
