---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=,%20United%20Kingdom&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "United Kingdom",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 60.91569999999999,
                          "lng" : 33.9165549
                       },
                       "southwest" : {
                          "lat" : 34.5614,
                          "lng" : -8.8988999
                       }
                    },
                    "location" : {
                       "lat" : 55.378051,
                       "lng" : -3.435973
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 60.85484959999999,
                          "lng" : 1.762995
                       },
                       "southwest" : {
                          "lat" : 49.8823322,
                          "lng" : -8.6498934
                       }
                    }
                 },
                 "place_id" : "ChIJqZHHQhE7WgIReiWIMkOg-MQ",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 17 Feb 2017 10:13:34 GMT
recorded_with: VCR 2.9.3
