.search-filter__border {
  border-left: 1px solid $search-filter-border-color;
  border-right: 1px solid $search-filter-border-color;
}

.search-filter__border--bottom {
  border-bottom: 1px solid $search-filter-border-color;
  border-bottom-left-radius: $search-filter-radius;
  border-bottom-right-radius: $search-filter-radius;
}

.search-filter__divider {
  border-bottom: 2px solid $color-white;
}

.search-filter__section {
  margin: 0 $baseline-unit*4;
}

.search-filter__section--first {
  padding-top: $baseline-unit*4;
}

.search-filter__section--button {
  margin-top: 0;
  margin-bottom: $baseline-unit*4;
}

.search-filter__form {
  // this is needed to override the required Dough class 'form' that applies a margin to forms
  margin-top: 0;
}

.search-filter__heading {
  @include body(16, 18);
  color: $search-filter-heading-color;
  background-color: $search-filter-heading-background-color;
  margin: 0;
  padding: $baseline-unit*3 $baseline-unit*4;
  border-radius: 0;
}

.search-filter__heading--first {
  border-top-left-radius: $search-filter-radius;
  border-top-right-radius: $search-filter-radius;
}

.js .search-filter__heading--second {
  border-bottom-left-radius: $search-filter-radius;
  border-bottom-right-radius: $search-filter-radius;
}

.js .search-filter__heading-text {
  display: block;
  padding-left: 28px;
}

.search-filter__heading-trigger {
  background: transparent;
  text-align: left;
  border: 0;
  color: $search-filter-heading-color;
  width: 100%;
  padding: 0;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }
}

.search-filter__label {
  @include body(18, 24);
  font-weight: 700;
  color: $search-filter-label-color;
}

.search-filter__label-instructions {
  @include body(14, 24);
  margin-top: -$baseline-unit;
}

.search-filter__option {
  @include body(16, 18);
  display: inline;
}

.search-filter__nested-options {
  margin-bottom: $baseline-unit*6;
  margin-left: $baseline-unit*7;
}

.search-filter__button {
  @include body(16, 18);
}

.search-filter__button--inline {
  vertical-align: top;
}

.search-filter__checkbox-container {
  margin-bottom: $baseline-unit*4;
}

.search-filter__field[type="text"] {
  width: 100%;
  max-width: 150px;
  height: 42px;
  border-radius: $search-filter-radius;
  border: 1px solid $search-filter-border-color;
}

.search-filter__triangle-icon {
  display: none;

  .js & {
    display: block;
    float: left;

    &:before {
      @include inline-block();
      position: relative;
      top: 0px;
      left: 4px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 10px;
      border-color: transparent transparent transparent $search-filter-icon-color;
    }
  }
}

.js .search-filter__triangle-icon--down:before {
  top: -2px;
  left: 0;
  border-width: 10px 8px 0 8px;
  border-color: $search-filter-icon-color transparent transparent transparent;
}

.search-filter__item-inset {
  margin-top: $baseline-unit*2;
  padding-left: $baseline-unit*4;
}

.search-filter__constrained {
  max-width: 250px;
}
