$search-filter-background-color: $color-white;
$search-filter-radius: 5px;
$search-filter-border-color: $color-grey-normal;
$search-filter-heading-background-color: $color-black-two;
$search-filter-heading-color: $color-white;
$search-filter-icon-color: $color-white;
$search-filter-padding: $baseline-unit*4;
$search-filter-label-color: $color-black;
