.l-firm__main {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(8);
  }
}

.l-firm__side {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(4);
    float: right;
    clear: right;
  }
}

.l-firm__details {
  margin-left: 0;
}

.l-firm__callout {
  margin-right: 0;
  margin-left: 0;

  @include respond-to($mq-m) {
    margin-left: $baseline-unit*5;
  }

  @include respond-to($mq-l) {
    margin-left: $baseline-unit*4;
  }

  @include respond-to($mq-xl) {
    margin-left: $baseline-unit*5;
  }
}
