.l-firm__main {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(8);
  }
}

.l-firm__side {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(4);
    float: right;
    clear: right;
  }
}

.l-firm__row {
  @include row(12);
  margin-bottom: $baseline-unit*2;
}

.l-firm__callout {
  @include respond-to($mq-m) {
    padding-left: $baseline-unit*5;
  }

  @include respond-to($mq-l) {
    padding-left: $baseline-unit*4;
  }

  @include respond-to($mq-xl) {
    padding-left: $baseline-unit*5;
  }
}
