.l-header {
  // override to force the header to be the correct height
  height: 73px;
  display: block;
}

.l-header .mas-logo {
  width: 30%;
  margin-top: $baseline-unit*2;
}

.l-header__locale {
  @include column(4);
  float: right;
  margin-top: $baseline-unit*2.5;

  @include respond-to($mq-m) {
    margin-top: $baseline-unit*4;
  }
}
