.l-header {
  // override to force the header to be the correct height
  height: 73px;
}

.l-header__logo {
  @include column(8);
  margin-top: 20px;


  @include respond-to($mq-m) {
    margin-top: 14px;
  }
}

.l-header__locale {
  @include column(4);
  float: right;
  margin-top: $baseline-unit*4;
}
