.l-landing-page__1col {
  @include column(12);
  padding-bottom: $baseline-unit*8;
}

.l-landing-page__2col {
  @include column(12);
  margin-top: $baseline-unit*2;
  margin-bottom: $baseline-unit*10;

  @include respond-to($mq-m) {
    @include column(6);
  }
}

.l-landing-page__3col {
  @include column(12);
  margin-top: $baseline-unit*2;
  margin-bottom: $baseline-unit*10;

  @include respond-to($mq-m) {
    @include column(4);
  }
}

.l-landing-page__2col--right {
  @include respond-to($mq-m) {
    margin-top: $baseline-unit*14;
    float: right;
  }
}

.l-landing-page__2col--padded {
  margin-top: $baseline-unit*8;
}

.l-landing-page__with-border {
  overflow: hidden;
  border-bottom: 1px solid $background-color;
}

.l-landing-page__heading {
  @include body(22, 30);
  color: $color-black;
}

.l-landing-page__button {
  @include body(16, 24);
  margin-top: $baseline-unit*3;
}

.l-landing-page__validation {
  @include column(12);
}
