.l-landing-page__1col {
  @include column(12);
  padding-bottom: $baseline-unit*8;
}

.l-landing-page__2col {
  @include column(12);
  margin-top: $baseline-unit*2;

  @include respond-to($mq-m) {
    @include column(6);
  }
}

.l-landing-page__3col {
  @include column(12);
  margin-top: $baseline-unit*2;

  @include respond-to($mq-m) {
    @include column(4);
  }
}

.l-landing-page__2col--right {
  @include respond-to($mq-m) {
    margin-top: $baseline-unit*14;
    float: right;
  }
}

.l-landing-page__2col--padded {
  @include respond-to($mq-m) {
    margin-top: $baseline-unit*8;
  }
}

.l-landing-page__with-border {
  overflow: hidden;
  border-bottom: 1px solid $background-color;
}

.l-landing-page__heading {
  @include body(22, 30);
  color: $color-black;
}

.l-landing-page__button {
  @include body(16, 24);
  margin-top: $baseline-unit*3;
}

.l-landing-page__validation {
  @include column(12);
}

.l-landing-page__title {
  display: inline-block;
  margin-right: $baseline-unit*2;
}

.l-landing-page__register-link {
  display: inline-block;
  margin-top: $baseline-unit*13.5;
  text-align: right;
  width: 100%;
}

.l-landing-page__find-adviser {
  background: linear-gradient(to bottom, white, $background-gradient-color);
  color: $color-black;
}

.l-landing-page__why-adviser {
  @include respond-to($mq-m) {
    margin-bottom: $baseline-unit*6;
  }
}

.l-landing-page__search-filter {
  background-color: $background-color;
}

.l-landing-page__search-filter label{
  font-weight: bold;
  color: $color-black;
}

.l-landing-page__advice-reasons {
  background-color: $background-color;
  color: $color-black;
  @include respond-to($mq-m) {
    padding-bottom: $baseline-unit*6;
  }
}

.l-landing-page__search-filter__header {
  margin-top: $baseline-unit*2;
  margin-left: $baseline-unit*3;
  margin-bottom: 0;
}

.l-landing-page__trust-banner__header {
  margin-top: $baseline-unit*2;
}

.l-landing-page__section-header {
  @include respond-to($mq-m) {
    @include body(32, 36);
  }
}

.l-landing-page__other-information {
  color: $color-black;
}

.l-landing-page__registration{
  display: none;
  visibility: hidden;

  @include respond-to($mq-m) {
    display: block;
    visibility: visible;
  }
}

.advice-reasons__explaination {
  display: none;
  visibility: hidden;

  @include respond-to($mq-m) {
    display: inline;
    visibility: visible;
  }
}
