.l-results__go-back {
  @include column(12);
  @include body(14, 18);
  margin-bottom: $baseline-unit*6;
}

.l-results__message-container {
  overflow: hidden;
  background: $background-color-alt;
  margin: $baseline-unit*4 0;
}

.l-results__message {
  @include column(12);
  margin-top: $baseline-unit;
  margin-bottom: $baseline-unit;
  font-weight: 500;
}

.l-results__main {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(8);
  }
}

.l-results__heading {
  margin-top: 0;
}

.l-results__side {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(4);
    float: right;
    clear: right;
  }

  .education__button {
    color: $color-white;
  }
}

.l-results__list {
  @extend .unstyled-list;
  clear: both;
}

.l-results__pagination {
  @include column(12);
  margin-bottom: $baseline-unit*4;
}

.l-results__back-to-top {
  @include column(12);

  @include respond-to(40em) {
    @include column(6);
    float: right;
  }
}

.l-results__filter {
  @include column(12);

  .ie8 & {
    @include respond-to($mq-xs, $mq-l) {
      @include column(12);
    }
  }

  @include respond-to(37.5em, $mq-l) {
    @include column(6);
  }
}

.l-results__filter-button-container {
  @extend .l-results-filter;
  overflow: hidden;
  margin-bottom: $baseline-unit*3;
}

.l-results__filter-button {
  @include respond-to($mq-xs, $mq-l) {
    @include column(12);
  }
}

.l-results__form-row {
  .form__row:first-of-type {
    margin-bottom: 0;

    &.is-errored {
      margin-bottom: $baseline-unit*6;
    }
  }
}

.l-results__summary {
  @include body(14, 18);
  font-weight: 500;
}

.l-results__feedback {
  @include body(14, 23);
  @include column(12);

  @include respond-to($mq-m) {
    @include column(6);
  }
}
