.l-results {
  padding-top: $baseline-unit*10;
}

.l-results__main {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(8);
  }
}

.l-results__heading {
  margin-top: 0;
}

.l-results__emphasised {
  font-weight: 700;
}

.l-results__side {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(4);
    float: right;
    clear: right;
  }
}

.l-results__list {
  @extend .unstyled-list;
}

.l-results__pagination {
  @include column(12);
  margin-bottom: $baseline-unit*4;
}

.l-results__back-to-top {
  @include column(12);
}

.l-results__filter {
  @include column(12);

  @include respond-to(37.5em, $mq-l) {
    @include column(6);
  }
}
