<div class="validation-summary validation-summary--hidden" role="alert">
  <div class="validation-summary__content-container">
    <p class="validation-summary__title"><%= t('dough.forms.validation.summary.title') %></p>
    <ol class="validation-summary__list" data-dough-validation-summary-list>
    </ol>
  </div>
</div>
