<a href="" class="further-info__trigger" data-further-info-trigger>
  <svg class="svg-icon svg-icon-tooltip" xmlns="http://www.w3.org/2000/svg" style="">
    <use xlink:href="#icon-tooltip"></use>
  </svg>
</a>
