<div class="is-hidden further-info__content" data-further-info-target>
  <% t('search.filter.receive_advice.tooltip').each do |item| %>
    <p class="further-info__paragraph"><%= item[:text] %></p>
  <% end %>
</div>
