<button class="button button--primary <%= button_class %>">
  <span class="button--compact__text"><%= t('search.filter.button_text') %></span>
  <svg title="<%= t('pagination.previous') %>" xmlns="http://www.w3.org/2000/svg" class="pagination__icon">
    <use xlink:href="#icon-pagination-next"></use>
  </svg>
</button>
