<fieldset class="search-filter__qualifications_accreditations search-filter__last-filter">
  <legend class="search-filter__label">
    <%= t('search.filter.qualifications_and_accreditations.heading') %>
  </legend>

  <div class="form__group-item">
    <%= f.label :qualification_or_accreditation,
                t('search.filter.qualifications_and_accreditations.label'),
                class: 'form__label-heading is-hidden' %>
    <%= f.select :qualification_or_accreditation,
                 form.options_for_qualifications_and_accreditations,
                 { include_blank: t('search.filter.select_prompt') },
                 { class: 't-qualifications-and-accreditations search-filter__inset search-filter__constrained' } %>
  </div>
</fieldset>
