.pagination__button {
  color: $pagination-text-color;
}

.pagination__icon {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 8px;
  height: 14px;
  fill: $pagination-icon-color;
}
