.is-hidden {
  display: block;

  .js & {
    display: none;
  }
}


.is-hidden-on-mobile {
  display: block;

  .js & {
    display: none;
    @include respond-to($mq-m) {
      display: block;
    }
  }
}

.is-hidden-on-non-mobile {
  display: none;

  .js & {
    display: block;
    @include respond-to($mq-m) {
      display: none;
    }
  }
}

.is-hidden-no-js {
  display: none;
  .js & {
    display: block;
  }
}
