<div class="l-contact-panels">
  <div class="l-contact-panel contact-panel__dynamic-content contact-panel__whatsapp">
    <%= render 'contact_methods/whatsapp' %>
  </div>
  <div class="l-contact-panel contact-panel__dynamic-content">
    <%= render 'contact_methods/call_us' %>
  </div>
</div>
