<div class="l-constrained">
  <div class="l-contact-panels t-contact-panels  ">
    <%= render 'contact_methods/webchat' %>
    <div class="contact-panel__border"></div>
    <%= render 'contact_methods/call_us' %>
  </div>
</div>
