<span class="next">
  <% unless current_page.last? %>
    <%= link_to(url, rel: 'next', class: 'pagination__button button button--compact') do %>
    <span class="button--compact__text"><%= t('pagination.next').html_safe %></span>
      <svg xmlns="http://www.w3.org/2000/svg" class="pagination__icon">
        <use xlink:href="#icon-pagination-next"></use>
      </svg>
    <% end %>
  <% end %>
</span>
