<% unless current_page.first? %>
  <span class="prev">
    <%= link_to(url, rel: 'prev', class: 'pagination__button pagination__button--prev button button--compact') do %>
      <svg focusable="false" title="<%= t('pagination.previous') %>" xmlns="http://www.w3.org/2000/svg" class="pagination__icon">
        <use xlink:href="#icon-pagination-prev"></use>
      </svg>
      <span class="button--compact__text"><%= t('pagination.previous').html_safe %></span>
    <% end %>
  </span>
<% end %>
