<span class="prev">
  <% unless current_page.first? %>
    <%= link_to(url, rel: 'prev', class: 'pagination__button button button--compact') do %>
      <span class="pagination__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-12 232 161.8 278.5" enable-background="new -12 232 161.8 278.5"><path fill="#010202" d="M127.8 232l22 22L32.5 371.3l117.3 117.3-22 22L-12 370.7 127.8 232z"/></svg>
      </span>
      <span class="button--compact__text"><%= t('pagination.previous').html_safe %></span>
    <% end %>
  <% end %>
</span>
