<div data-dough-component="ShowMore">
  <% advisers.each do |adviser| %>
    <div class="office t-office" data-dough-show-more-item>
      <div class="l-2col">
        <div class="l-2col-even l-office-col">
          <div class="address t-address">
            <%= adviser.name %>
          </div>
        </div>
        <div class="l-2col-even l-office-col">
          <div class="office__telephone">
            <%= 'G63' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <a data-dough-show-more-trigger class="office__show-more-trigger is-hidden" href="#">
    <%= t('firms.show.panels.offices.show_more') %>
  </a>
</div>
