<div class="callout__item" data-further-info>
  <h4 class="callout__heading">
    <%= t("firms.show.panels.firm.callout.#{key_element}.heading") %>
    <%= render 'further_info_trigger' %>
  </h4>
  <p class="is-hidden further-info__content" data-further-info-target>
    <%= t("firms.show.panels.firm.callout.#{key_element}.tooltip") %>
  </p>
  <%= value_text %>
</div>
