<div class="firm__header">
  <%= heading_tag(firm.name, level: 2, class: 'firm__name') %>

  <% if firm.closest_adviser_distance.present? %>
    <%=
      render(
        partial: 'search/partials/firm/adviser_distance',
        locals: { distance: firm.closest_adviser_distance }
      )
    %>
  <% end %>

  <% if offices.present? %>
    <%=
      render(
        partial: 'firms/partials/firm_links',
        locals: {
          telephone_number: display_telephone(firm),
          email_address: offices.first.email_address,
          website_address: display_website(offices.first, firm)
        }
      )
    %>
  <% else %>
    <%=
      render(
        partial: 'firms/partials/firm_links',
        locals: {
          telephone_number: firm.telephone_number,
          email_address: firm.email_address,
          website_address: firm.website_address
        }
      )
    %>
  <% end %>
</div>
