<% if recently_visited_firms.present? %>
  <%= heading_tag(t('firms.show.recently_visited.header'),
                  level: 3,
                  class: 'l-firm__heading l-firm__heading--collapse') %>

  <ol class="l-results__list recently-viewed">
    <% recently_visited_firms.each do |recently_visited_firm_hash| %>
      <li class="recently-viewed__item t-firm">
        <%= link_to recently_visited_firm_hash['name'], recently_visited_firm_hash['profile_path'][I18n.locale.to_s], class: "recently-viewed__item__firm-name" %>

        <% if recently_visited_firm_hash['face_to_face?'] %>
          <%= render partial: 'search/partials/firm/adviser_distance', locals: { distance: recently_visited_firm_hash['closest_adviser'], distance_class: 'recently-viewed__item__adviser-distance' }%>
        <% else %>
          <div>
            <%= t('firms.show.recently_visited.remote') %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
