<%= heading_tag(t('firms.show.recently_visited.header'),
                level: 3,
                class: 'l-firm__heading l-firm__heading--collapse') %>

<ol class="l-results__list recently-viewed">
  <% recently_visited_firms.each do |firm| %>
    <li class="recently-viewed__item t-firm">
      <%= link_to firm['name'], firm['url'], class: "recently-viewed__item__firm-name" %>

      <% if search_form.face_to_face? %>
        <%= render partial: 'search/partials/firm/adviser_distance', locals: { distance: firm['closest_adviser'], distance_class: 'recently-viewed__item__adviser-distance' }%>
      <% end %>
    </li>
  <% end %>
</ol>
