<div class="firm__adviser-distance <%= distance_class if local_assigns[:distance_class] %> t-distance_to_the_nearest_adviser">
  <%= svg_icon :map_pin, class: 'firm__adviser-distance-pin' %>
  <%= t('search.result.adviser') %>
  <%= closest_adviser_text(distance) %>
</div>
