  <% if search_form.face_to_face? %>
    <div class="firm__adviser-distance">
      <%= svg_icon :map_pin, class: 'firm__adviser-distance-pin' %>
      <%= t('search.result.adviser') %>
      <%= firm.closest_adviser %>
    </div>
  <% end %>
