<div class="result__office-adviser-count is-hidden-on-mobile t-number_of_advisers_message">
  <%= I18n.t('search.result.firm_has') %>
  <% if firm.respond_to?(:offices) %>
    <%= I18n.t('search.result.number_of_offices', count: firm.total_offices) %><%= I18n.t('search.result.and', count: firm.advisers.size) %>
  <% end %>
  <%= I18n.t('search.result.number_of_advisers', count: firm.advisers.size) %>
</div>
