<div class="result__office-adviser-count is-hidden-on-mobile t-number_of_advisers_message">
  <%= I18n.t('search.result.firm_has') %>
  <%= I18n.t('search.result.number_of_offices', count: firm.total_offices) %>
  <%= I18n.t('search.result.and', count: firm.total_advisers) %>
  <%= I18n.t('search.result.number_of_advisers', count: firm.total_advisers) %>
</div>
