<% if firm.adviser_qualification_ids.present? || firm.adviser_accreditation_ids.present? %>
  <div class="result__qualifications">
    <p class="result__qualifications-heading"><%= t('search.accreditations.heading') %></p>
    <div class="result__qualifications-logos">
      <% firm.adviser_qualification_ids.each do |id| %>
        <%= render_logo(id, :qualification) %>
      <% end %>
      <% firm.adviser_accreditation_ids.each do |id| %>
        <%= render_logo(id, :accreditation) %>
      <% end %>
    </div>
  </div>
<% end %>
