<% if firm_has_qualifications_or_accreditations?(firm) %>
  <div class="result__information__item">
    <% firm.adviser_qualification_ids.each do |id| %>
      <%= render_logo(id, :qualification) %>
    <% end %>
    <% firm.adviser_accreditation_ids.each do |id| %>
      <%= render_logo(id, :accreditation) %>
    <% end %>
  </div>
<% end %>
