.accreditation {
  display: block;
  float: left;
  margin-right: $baseline-unit;

  &:focus img {
    outline: 2px solid #77bf24;
  }
}

.accreditation__help-text {
  @include body(14, 18);
  clear: both;
}

.accreditation__img {
  height: 44px;
}

.accreditation__img--alt {
  margin-bottom: $baseline-unit;
  float: right;
}
