.address {
  margin: 0;
}

.address__heading {
  margin-top: $baseline-unit*3;
  color: $color-green-secondary;
  font-weight: 300;
}

.address__line {
  display: block;
}

.address__link,
.address__link[href^=tel] {
  display: block;
  line-height: 2;
  color: $color-link-blue;

  &:hover {
    text-decoration: none;
  }

  span:hover {
    text-decoration: underline;
  }
}
