.address {
  margin: 0;
}

.address__heading {
  margin-top: $baseline-unit*3;
  color: $color-blue-medium;
  font-weight: 300;
}

.address__expandable button, {
  &:hover .address__heading,
  &:focus .address__heading {
    text-decoration: underline;
  }
}

.address__line {
  display: block;
}

.address__link,
.address__link[href^=tel] {
  display: block;
  line-height: 2;
  color: $color-link-blue;

  &:hover, &:focus {
    text-decoration: none;

    .value {
      text-decoration: underline;
    }
  }
}
