.advert {
  @include clearfix();
  padding: 0 $advert-padding;
  margin: 0 0 $baseline-unit*6 0;
  background-color: $advert-background-color;

  @include respond-to($mq-m) {
    margin-top: $baseline-unit*15.2;
  }
}

.advert__intro {
  margin: $advert-padding 0;
  color: $color-black;
}

.advert__img {
  margin: $advert-padding 0;
  float: right;
  max-width: auto;

  @include respond-to($mq-s) {
    max-width: $advert-image-width;
  }

  @include respond-to($mq-m) {
    margin-top: -$baseline-unit*2;
  }
}

.advert__header {
  color: $color-black;
  margin-top: $baseline-unit*2;
}
