.contact-link {
  color: $contact-link-text-color;
  line-height: $baseline-unit*6;

  // These are usually set either by us or by default, but
  // tel links are strange and we need to tell them again.
  &[href^="tel:"] {
    color: $contact-link-text-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
.contact-link__svg-icon {
  @include inline-block();
  position: relative;
  top: 5px;
  margin-right: $baseline-unit;
  width: 20px;
  height: 20px;
  fill: $contact-link-fill-color;
}
