.education {
  padding-top: $baseline-unit*4;
}

.education__heading {
  @include body(18, 24);
  margin-top: 0;
  margin-bottom: 0;
}

.education__heading-text {
  @include inline-block();
  width: 93%;
}

.education__button {
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.education__content {
  padding-left: 20px;
}

.education__icon {
  @include inline-block();
  vertical-align: top;
  position: relative;
  top: -2px;
  width: 20px;
  font-size: 18px;
}

.education__icon--minus:before {
  content: '–';
}

.education__icon--plus:before {
  content: '+';
}
