.firm {
  @include clearfix();
  margin-bottom: $baseline-unit*6;
}

.firm__header {
  background-color: $background-color;
  border: 1px solid $firm-border-color;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: $baseline-unit*2;
  color: $color-black;
}

.firm__back-link {
  display: block;
  margin-bottom: $baseline-unit*2;
}

.firm__adviser-distance {
  margin-left: -2px;
  margin-bottom: 0;
  font-weight: bold;
  color: $adviser-distance-text-color;
}

.firm__adviser-distance-pin {
  width: 16px;
  height: 16px;
  fill: $firm-pin-color;
}

.firm__content {
  @include clearfix();
  padding: $baseline-unit*2;
  border-right: 1px solid $firm-border-color;
  border-left: 1px solid $firm-border-color;
  border-bottom: 1px solid $firm-border-color;
  border-bottom-left-radius: $firm-border-radius;
  border-bottom-right-radius: $firm-border-radius;

  box-shadow: 0 1px 0 0 $result-shadow-color;

  @include respond-to($mq-m) {
    padding-bottom: $baseline-unit*6;
  }
}

.firm__name {
  margin: 0;
  color: $firm-header-color;
}

.firm__links {
  @extend .unstyled-list;
  margin: $baseline-unit 0;

  li:last-child {
    margin-bottom: 0;
  }

  @include respond-to($mq-s) {
    li {
      display: inline;
    }
  }
}

.firm__back-icon {
  display: inline-block;
  width: 8px;
  height: 10px;
  fill: $color-blue-medium;
  margin-right: 0.25em;
}

.firm__map {
  height: 400px;
  width: 100%;
  margin-bottom: $baseline-unit*4;
}

.firm__divider {
  border-top: 1px solid $color-grey-normal;
}
