.firm {
  @include clearfix();
  border: 1px solid $color-grey-normal;
  border-bottom: 3px solid $color-grey-seven;
  border-radius: 5px;
  margin-bottom: $baseline-unit*6;
}

.firm__header {
  background-color: $background-color;
  border-bottom: 1px solid $color-grey-normal;
  padding: $baseline-unit*2;
  color: $color-black-two;
}

.firm__adviser-distance {
  margin-bottom: $baseline-unit*2;
}

.firm__content {
  padding: $baseline-unit*2;
}

.firm__name {
  margin: 0;
  color: $color-black;
}

.firm__links a {
  display: inline-block;
  background-color: $color-white;
  border: 1px solid $color-blue-medium;
  padding: 0 $baseline-unit*2;
  border-radius: 5px;
  color: $color-blue-medium;
  margin-right: $baseline-unit;
  line-height: $baseline-unit*6;
}

.firm__svg {
  @include inline-block();
  position: relative;
  top: 5px;
  margin-right: $baseline-unit;
  width: 20px;
  height: 20px;
  fill: $color-blue-medium;
}
