.footer-primary__copyright {
  @include column(12);
  @include body(14, 18);

  @include respond-to($mq-s) {
    @include body(16, 20);
  }
}

.l-footer-secondary {
  background: $color-maps-blue;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include respond-to($mq-l) {
    & > div {
      flex-direction: row;
    }
  }
}

.l-footer-secondary--inner {
  @include column(12);
  
  @include respond-to($mq-l) {
    @include column(6);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.l-footer-secondary__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.l-footer-secondary__list--left {
  float: left;
}

.footer-secondary__list {
  margin: $baseline-unit*2 0;

  @include respond-to($mq-l) {
    float: right;
  }
}

.footer-secondary__list-item {
  float: none;
  vertical-align: middle;
}

.footer-secondary__sfgb-link {
  margin: $baseline-unit*2 0 0;
  display: block;
}

.footer-secondary__sfgb-text {
  display: inline-block;

  & > * {
    float: left;
    clear: left;
  }
}

.footer-secondary__sfgb-logo {
  width: 33px;
  margin: 0 0 0 5px;
}

.l-footer-secondary__list--right {
  // @include column(12);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include respond-to($mq-l) {
    // @include column(6);
    justify-content: flex-end;
  }
}

.footer-secondary__link-item {
  padding: 0;
  border: none;
  clear: left;

  @include respond-to($mq-s) {
    clear: none;
    margin-left: $baseline-unit*3;

    &:first-child {
      margin-left: 0;
    }
  }
}
