.further-info {
  // Unused parent class
}

.further-info__content {
  @include body(14, 24);
  border-left: 5px solid $further-info-border-color;
  padding-left: $baseline-unit*2;
  margin-left: $baseline-unit*4;
  margin-bottom: $baseline-unit*6;
}

.further-info__trigger {
  display: none;

  .js & {
    display: inline;
    font-size: 75%;
    font-weight: 700;
    padding: $baseline-unit;
    margin-left: -$baseline-unit;

    &:focus {
      outline: 1px dotted;
    }
  }
}

.further-info__button {
  background: transparent;
  border: 0;
  padding: 0;
  text-align: left;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}
