.keyword {
  @include body(14, 14);
  display: inline;
  margin-right: $baseline-unit*2;
  padding-right: $baseline-unit*2;
  border-right: 2px solid $result-border-color;

  &:last-of-type {
    margin-right: 0;
    border-right: none;
  }
}
