.pagination__button {
  color: $pagination-text-color;
}

.pagination__button--prev {
  margin-right: $baseline-unit;
}

.pagination__button--next {
  margin-left: $baseline-unit;
}

.pagination__icon {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 8px;
  height: 14px;
  fill: $pagination-icon-color;
}

.pagination__counter {
  margin: 0;
}
