.result {
  @include clearfix();

  margin-bottom: $baseline-unit*6;
  padding: $baseline-unit;

  border: 1px solid $result-border-color;
  border-radius: $result-radius;
  -webkit-box-shadow: 0 1px 0 0 $result-shadow-color;
  -moz-box-shadow: 0 1px 0 0 $result-shadow-color;
  box-shadow: 0 1px 0 0 $result-shadow-color;

  color: $result-text-color;
}

.result__heading {
  @include column(12);
  @include body(18, 27);

  margin-top: 0;
  margin-bottom: 0;

  color: $result-heading-color;

  @include respond-to($mq-m) {
    padding-top: $baseline-unit*2;
  }
}

.result__heading-text {
  font-size: 1.4rem;
}

.result__information {
  @include column(12);
}

.result__information__item {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;

  border-top: 1px solid $result-border-color;

  @include body(16,30);
}

.result__office-adviser-count {
  margin-bottom: $baseline-unit*2;
}

.result__qualifications {
  padding-top: $baseline-unit;
}
