.result {
  @include clearfix();
  border: 1px solid $result-border-color;
  border-radius: $result-radius;
  margin-bottom: $baseline-unit*6;

  .svg-icon {
    @include inline-block();
    position: relative;
    top: 5px;
    margin-right: $baseline-unit;
  }

  .svg-icon-email,
  .svg-icon-url,
  .svg-icon-phone {
    width: 20px;
    height: 20px;
    fill: $color-green-secondary;
  }
}

.result__heading {
  @include body(18, 27);
  padding: $baseline-unit*2;
  color: $result-heading-color;
  margin-top: 0;
  margin-bottom: 0;

  @include respond-to ($mq-m) {
    margin-bottom: $baseline-unit*2;
  }
}

.result__heading-text {
  font-size: 1.4rem;
  @include respond-to($mq-xs, $mq-m) {
    display: block;
    padding-left: 20px;
  }
}

.result__advice {
  @include column(12);

  @include respond-to (37.5em) {
    margin-top: $baseline-unit*4;
    @include column(8);
  }

  @include respond-to ($mq-m) {
    @include column(9);
    margin-top: $baseline-unit*4;
    margin-bottom: $baseline-unit*4;
    padding-left: $baseline-unit*2;
    border-left: 1px solid $result-border-color;
  }
}

.result__keyword {
  margin-top: $baseline-unit*2;
  float: left;

  @include respond-to ($mq-m) {
    @include column(12);
  }
}

.result__qualifications {
  clear: both;
}

.result__qualifications-heading {
  @include column(12);
  @include body(14, 24);

  @include respond-to($mq-m) {
    @include column(6);
  }
}

.result__qualifications-logos {
  @include column(12);
  margin-top: $baseline-unit*2;
  margin-bottom: $baseline-unit*2;

  @include respond-to($mq-m) {
    @include column(6);
  }
}
