.search-filter {
  border-top-left-radius: $search-filter-radius;
  border-top-right-radius: $search-filter-radius;
  border: 1px solid  $search-filter-border-color;
  overflow: hidden;
}

.search-filter--container {
  @include row(12);
  padding-top: $baseline-unit*3;
}

.search-filter--container .l-results__filter {
  width: 100%;
}

.search-filter__form_row--shrink-margin-bottom {
  // override Dough class 'form_row'
  margin-bottom: $baseline-unit*4;
}

.search-filter__heading {
  @include body(22.4, 29);
  color: $search-filter-heading-color-mobile;
  background-color: $search-filter-heading-background-color-mobile;
  margin: 0;
  padding: $baseline-unit*2 $baseline-unit*3;
  border-radius: 0;

  @include respond-to($mq-m) {
    color: $search-filter-heading-color;
    background-color: $search-filter-heading-background-color;
  }
}

.search-filter__heading--first {
  border-top-left-radius: $search-filter-radius;
  border-top-right-radius: $search-filter-radius;
}

.search-filter__heading-trigger {
  background: transparent;
  text-align: left;
  border: 0;
  color: $search-filter-heading-color;
  width: 100%;
  padding: 0;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }
}

.search-filter__section {
  padding-left: $baseline-unit*3;
  padding-right: $baseline-unit*3;
}

.search-filter--border {
  border: 1px solid $search-filter-border-color;
}

.search-filter__label {
  @include body(18, 24);
  font-weight: 700;
  color: $search-filter-label-color;
  width: 100%;
}

.search-filter__label--padded {
  @include respond-to($mq-m) {
    padding-right: $baseline-unit*4;
  }
}

.search-filter__label-instructions {
  @include body(14, 24);
  margin-top: -$baseline-unit;
}

.search-filter__option {
  @include body(16, 22);
  display: inline-block;
  vertical-align: top;
  max-width: 90%;
}

.search-filter__nested-options {
  margin-bottom: $baseline-unit*6;
  margin-left: $baseline-unit*4;
}

.search-filter__checkbox {
  vertical-align: top;
  margin-top: 4px;
}

.search-filter__button {
  margin-top: $baseline-unit*4;
  margin-bottom: $baseline-unit*3;
}

.search-filter__button--inline {
  vertical-align: top;
}

.search-filter__checkbox-container {
  margin-bottom: $baseline-unit*4;
}

.search-filter__field[type="text"] {
  width: 100%;
  max-width: 200px;
  height: 34px;
  border: 1px solid $search-filter-input-border-color;
  padding-left: $baseline-unit*2;
}

.search-filter__field--padded {
  margin-bottom: $baseline-unit*4;
}

.search-filter__item-inset {
  margin-top: $baseline-unit*2;
  padding-left: $baseline-unit*4;
}

.search-filter__constrained {
  max-width: 250px;
}

.search-filter__divider {
  width: 96%;
  display: block;
  margin: $baseline-unit*4 0;
}

.search-filter__pension_pot {
  margin-bottom: $baseline-unit*4;
}
