.types-of-advice__heading {
  @include body(16, 16);
  margin-top: 0;
}

.types-of-advice__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.types-of-advice__list-item{
  margin-bottom: 0;
  color: $types-of-advice-text-color;
}
