.video-wrapper {
  margin-top: $baseline-unit*2;
	// position: relative;
	// height: 0;
}

.video {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video__description,
.video__transcript-link {
  @include body(16, 24);
}
