---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=EC4A%202AH,%20United%20Kingdom&key=<GOOGLE_GEOCODER_API_KEY>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "EC4A 2AH",
                       "short_name" : "EC4A 2AH",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Fleet Street",
                       "short_name" : "Fleet St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Fleet St, London EC4A 2AH, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5141193,
                          "lng" : -0.111087
                       },
                       "southwest" : {
                          "lat" : 51.5138213,
                          "lng" : -0.1116846
                       }
                    },
                    "location" : {
                       "lat" : 51.5139284,
                       "lng" : -0.1113308
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.51531928029149,
                          "lng" : -0.110036819708498
                       },
                       "southwest" : {
                          "lat" : 51.51262131970849,
                          "lng" : -0.112734780291502
                       }
                    }
                 },
                 "place_id" : "ChIJxwm7XrMEdkgRRsHhHI1JUag",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 13 Mar 2019 14:36:21 GMT
recorded_with: VCR 4.0.0
