@import 'dough/assets/stylesheets/lib';
@import 'dough/assets/stylesheets/common';
@import 'dough/assets/stylesheets/optional';
@import 'yeast/assets/lib/all';

@import 'settings';
@import 'temp_overrides';

@import 'base/type';

@import 'layouts/header';
@import 'layouts/landing_page';
@import 'layouts/responsive';
@import 'layouts/results';
@import 'layouts/glossary';
@import 'layouts/firm';

@import 'states/is_hidden';

@import 'components/accreditation';
@import 'components/address';
@import 'components/advert';
@import 'components/back_to_top';
@import 'components/banner_list';
@import 'components/beta_tag';
@import 'components/brand_logo';
@import 'components/education';
@import 'components/firm';
@import 'components/further_info';
@import 'components/keyword';
@import 'components/locale';
@import 'components/outline_button';
@import 'components/pagination';
@import 'components/result';
@import 'components/search_filter';
@import 'components/video';

@import 'print';

// TEST STYLES FOR THE NEW ICONS - DO NOT MERGE

.new-icon {
  .svg-icon {
    background: pink;
  }

  .svg-icon-tick-mark,
  .svg-icon-map-pin,
  .svg-icon-computer-screen,
  .svg-icon-house,
  .svg-icon-telephone-ringing,
  .svg-icon-map-pin-office {
    fill: #61A612;
  }

  .svg-icon-telephone,
  .svg-icon-envelope,
  .svg-icon-offsite-link,
  .svg-icon-tooltip,
  .svg-icon-map-pin-adviser {
    fill: #1F6FAA;
  }
}

// Oh no. Need to be defined outside!!!
.svg-icon-map-pin-office__circle {
  stroke: #61A612;
}
.svg-icon-map-pin-adviser__circle {
  stroke: #1F6FAA;
}
