$background-color: $color-grey-pale;
$background-color-alt: $color-blue-light;

$advert-background-color: $color-grey-pale;
$advert-padding: $baseline-unit*4;
$advert-image-width: 200px;

$back-to-top-icon-color: $color-blue-medium;

$further-info-border-color: #3c97bf;
$further-info-background-color: $color-blue-medium;
$further-info-text-color: $color-white;

$pagination-icon-color: #010202;
$pagination-text-color: $color-black;

$result-radius: 5px;
$result-border-color: $background-color;
$result-heading-color: $color-black;
$result-padding: $baseline-unit*2;

$result-summary-background-color: $background-color;
$result-summary-color: $color-black;
$result-summary-radius: 5px;

$search-filter-background-color: $color-white;
$search-filter-radius: 5px;
$search-filter-border-color: $background-color;
$search-filter-input-border-color: $color-grey-normal;
$search-filter-heading-background-color-mobile: $color-blue-medium;
$search-filter-heading-color-mobile: $color-white;
$search-filter-heading-background-color: $background-color;
$search-filter-heading-color: $color-black;
$search-filter-icon-color: $color-white;
$search-filter-padding: $baseline-unit*4;
$search-filter-label-color: $color-black;

$color-link-blue: $color-blue-medium;
