$background-color: $color-grey-pale;
$background-color-alt: $color-blue-light;

$advice-method-heading-color: $color-green-secondary;
$advice-method-svg-color: $color-green-secondary;
$advice-method-text-color: $color-black;

$advert-background-color: $color-grey-pale;
$advert-padding: $baseline-unit*3;
$advert-image-width: 200px;
$advert-intro-color: $color-black;

$adviser-distance-text-color: $color-black;

$back-to-top-icon-color: $color-blue-medium;

$callout-text-color: $color-black;

$color-link-blue: $color-blue-medium;
$color-porcelain: #F0F4F4;

$firm-border-radius: 5px;
$firm-border-color: $background-color;
$firm-header-color: $color-green-primary;
$firm-pin-color: $color-green-secondary;

$further-info-border-color: #3c97bf;
$further-info-background-color: $color-blue-medium;
$further-info-text-color: $color-white;

$further-info-icon-width: 20px;
$further-info-icon-height: 20px;
$further-info-background-color: $color-blue-medium;

$keyword-dividing-color: $color-porcelain;

$landing-page-find-adviser-gradient-color: #f9fafa;

$list-numbers-list-style-color: $color-green-secondary;

$pagination-icon-color: #010202;
$pagination-text-color: $color-black;

$result-shadow-color: $color-grey-light;
$result-heading-color: $color-black;
$result-text-color: $color-black;
$result-padding: $baseline-unit*2;

$result-summary-background-color: $background-color;
$result-summary-color: $color-black;
$result-summary-radius: 5px;

$search-filter-background-color: $color-white;
$search-filter-radius: 5px;
$search-filter-border-color: $background-color;
$search-filter-input-border-color: $color-black;
$search-filter-heading-background-color-mobile: $color-blue-medium;
$search-filter-heading-color-mobile: $color-white;
$search-filter-heading-background-color: $background-color;
$search-filter-heading-color: $color-black;
$search-results-heading-color: $color-black;
$search-filter-icon-color: $color-white;
$search-filter-padding: $baseline-unit*4;
$search-filter-label-color: $color-black;

$types-of-advice-text-color: $color-black;
