---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm.id%22%5D\u0026distinct=true\u0026facetFilters=%5B%5D\u0026page=0\u0026hitsPerPage=1000\u0026query=Test+Firm+East+London"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"firm":{"id":2},"objectID":"4","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> <em>East</em> <em>London</em>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["test","firm","east","london"]}}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":1000,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Test
        Firm East London","params":"attributesToRetrieve=%5B%22firm.id%22%5D&distinct=true&facetFilters=%5B%5D&page=0&hitsPerPage=1000&query=Test+Firm+East+London"}

'
  recorded_at: Thu, 25 Apr 2019 15:32:09 GMT
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm%22%5D\u0026distinct=true\u0026facetFilters=%5B%5B%22firm.id%3A2%22%5D%5D\u0026page=0\u0026hitsPerPage=10\u0026query=Test+Firm+East+London"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"firm":{"id":2,"registered_name":"Test Firm East London","postcode_searchable":true,"website_address":"http://example.net/test-firm-east-london","telephone_number":"07111
        333 417","email_address":"office417@example.com","free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products_flag":true,"pension_transfer_flag":false,"long_term_care_flag":false,"equity_release_flag":true,"inheritance_tax_and_estate_planning_flag":false,"wills_and_probate_flag":false,"other_advice_methods":[],"investment_sizes":[2],"in_person_advice_methods":[2],"adviser_qualification_ids":[3],"adviser_accreditation_ids":[1],"ethical_investing_flag":false,"sharia_investing_flag":false,"workplace_financial_advice_flag":false,"non_uk_residents_flag":false,"languages":["ita","fra"],"total_offices":1,"total_advisers":2},"objectID":"4","_highlightResult":{"firm":{"registered_name":{"value":"<em>Test</em>
        <em>Firm</em> <em>East</em> <em>London</em>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["test","firm","east","london"]}}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":10,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Test
        Firm East London","params":"attributesToRetrieve=%5B%22firm%22%5D&distinct=true&facetFilters=%5B%5B%22firm.id%3A2%22%5D%5D&page=0&hitsPerPage=10&query=Test+Firm+East+London"}

'
  recorded_at: Thu, 25 Apr 2019 15:32:09 GMT
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"aroundLatLng=%5B55.378051%2C-3.435973%5D\u0026distinct=false\u0026facetFilters=%5B%22firm.id%3A2%22%5D\u0026getRankingInfo=true\u0026page=0\u0026hitsPerPage=1000\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"_geoloc":{"lat":51.510643,"lng":-0.052898},"name":"Eliseo
        Walker","postcode":"E1 0AE","travel_distance":100,"qualification_ids":[],"accreditation_ids":[],"firm":{"id":2,"registered_name":"Test
        Firm East London","postcode_searchable":true,"website_address":"http://example.net/test-firm-east-london","telephone_number":"07111
        333 417","email_address":"office417@example.com","free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products_flag":true,"pension_transfer_flag":false,"long_term_care_flag":false,"equity_release_flag":true,"inheritance_tax_and_estate_planning_flag":false,"wills_and_probate_flag":false,"other_advice_methods":[],"investment_sizes":[2],"in_person_advice_methods":[2],"adviser_qualification_ids":[3],"adviser_accreditation_ids":[1],"ethical_investing_flag":false,"sharia_investing_flag":false,"workplace_financial_advice_flag":false,"non_uk_residents_flag":false,"languages":["ita","fra"],"total_offices":1,"total_advisers":2},"objectID":"4","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm East London","matchLevel":"none","matchedWords":[]}}},"_rankingInfo":{"nbTypos":0,"firstMatchedWord":0,"proximityDistance":0,"userScore":3,"geoDistance":484907,"geoPrecision":1,"nbExactWords":0,"words":0,"filters":1,"matchedGeoLocation":{"lat":51.5106,"lng":-0.0529,"distance":484907}}},{"_geoloc":{"lat":51.510643,"lng":-0.052898},"name":"Ms.
        Wyman Sawayn","postcode":"E1 0AE","travel_distance":100,"qualification_ids":[3],"accreditation_ids":[1],"firm":{"id":2,"registered_name":"Test
        Firm East London","postcode_searchable":true,"website_address":"http://example.net/test-firm-east-london","telephone_number":"07111
        333 417","email_address":"office417@example.com","free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products_flag":t[...]
