.education {
  padding-top: $baseline-unit*4;
}

.education__heading {
  @include body(18, 24);
  margin-top: 0;
  margin-bottom: 0;
}

.education__heading-text {
  display: block;
  padding-left: 20px;
}

.education__content {
  padding-left: 20px;
}

.education__icon {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
}
