---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm.id%22%5D\u0026distinct=true\u0026facetFilters=%5B%5B%22firm.other_advice_methods%3A1%22%2C%22firm.other_advice_methods%3A2%22%5D%2C%22firm.in_person_advice_methods%3A-1%22%2C%22firm.in_person_advice_methods%3A-2%22%2C%22firm.in_person_advice_methods%3A-3%22%2C%22firm.retirement_income_products_flag%3Atrue%22%2C%22firm.equity_release_flag%3Atrue%22%2C%22firm.languages%3A%22%5D\u0026page=0\u0026hitsPerPage=1000\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"firm":{"id":5},"objectID":"7","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Remote 2","matchLevel":"none","matchedWords":[]}}}},{"firm":{"id":4},"objectID":"6","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Remote 1","matchLevel":"none","matchedWords":[]}}}}],"nbHits":2,"page":0,"nbPages":1,"hitsPerPage":1000,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"","params":"attributesToRetrieve=%5B%22firm.id%22%5D&distinct=true&facetFilters=%5B%5B%22firm.other_advice_methods%3A1%22%2C%22firm.other_advice_methods%3A2%22%5D%2C%22firm.in_person_advice_methods%3A-1%22%2C%22firm.in_person_advice_methods%3A-2%22%2C%22firm.in_person_advice_methods%3A-3%22%2C%22firm.retirement_income_products_flag%3Atrue%22%2C%22firm.equity_release_flag%3Atrue%22%2C%22firm.languages%3A%22%5D&page=0&hitsPerPage=1000&query="}

        '
  recorded_at: Thu, 25 Apr 2019 15:32:13 GMT
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/firm-advisers-test/query
    body:
      encoding: UTF-8
      string: '{"params":"attributesToRetrieve=%5B%22firm%22%5D\u0026distinct=true\u0026facetFilters=%5B%5B%22firm.other_advice_methods%3A1%22%2C%22firm.other_advice_methods%3A2%22%5D%2C%22firm.in_person_advice_methods%3A-1%22%2C%22firm.in_person_advice_methods%3A-2%22%2C%22firm.in_person_advice_methods%3A-3%22%2C%22firm.retirement_income_products_flag%3Atrue%22%2C%22firm.equity_release_flag%3Atrue%22%2C%22firm.languages%3A%22%2C%5B%22firm.id%3A4%22%2C%22firm.id%3A5%22%5D%5D\u0026page=0\u0026hitsPerPage=10\u0026query="}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"firm":{"id":5,"registered_name":"Test Firm Remote 2","postcode_searchable":false,"website_address":null,"telephone_number":null,"email_address":null,"free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products_flag":true,"pension_transfer_flag":false,"long_term_care_flag":false,"equity_release_flag":true,"inheritance_tax_and_estate_planning_flag":false,"wills_and_probate_flag":false,"other_advice_methods":[1,2],"investment_sizes":[2,4],"in_person_advice_methods":[],"adviser_qualification_ids":[],"adviser_accreditation_ids":[],"ethical_investing_flag":false,"sharia_investing_flag":false,"workplace_financial_advice_flag":true,"non_uk_residents_flag":false,"languages":[],"total_offices":0,"total_advisers":1},"objectID":"7","_highlightResult":{"firm":{"registered_name":{"value":"Test
        Firm Remote 2","matchLevel":"none","matchedWords":[]}}}},{"firm":{"id":4,"registered_name":"Test
        Firm Remote 1","postcode_searchable":false,"website_address":null,"telephone_number":null,"email_address":null,"free_initial_meeting":true,"minimum_fixed_fee":0,"retirement_income_products_flag":true,"pension_transfer_flag":false,"long_term_care_flag":false,"equity_release_flag":true,"inheritance_tax_and_es[...]
[...]
