<% if @results&.firms&.any? %>
  <div class="l-results__back-to-top back-to-top">
    <%= link_to '#top', class: 'back-to-top__link' do %>
      <%= t('search.back_to_top') %>
      <svg title="<%= t('search.back_to_top') %>" xmlns="http://www.w3.org/2000/svg" class="back-to-top__icon">
        <use xlink:href="#icon-back-to-top"></use>
      </svg>
    <% end %>
  </div>
<% end %>
